* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /* Enable vertical scrolling */
}

.navbar {
    background-color: #4889b7;
    color: white;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.navbar .logo {
    height: 100px;
    width: 100px;
    margin-left: 40px;
}

.navbar .logo img {
    height: 80px;
    width: 80px;
    margin-top: 18px;
    border-radius: 50%;
}

.navbar .title h1 {
    color: white;
    font-size: 28px;
    margin: 20px;
}

.navbar .title p {
    color: white;
    margin: 20px;
    font-size: 22px;
}

.navbar .list {
    margin-top: 80px;
    margin-left: 50px;
}

.navbar .list a {
    color: #4889b7;
    text-decoration: none;
    font-size: 5px;
    margin: 10px;
}

.main {
    margin-left: 40%;
    margin-top: 1.5%;
}

.main h1 {
    color: #4889b7;
    padding: 20px;
}

.main input {
    outline: none;
    padding: 2px;
    height: 25px;
    width: 300px;
}

.main button {
    color: white;
    background: #4889b7;
    width: 100px;
    height: 25px;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 20px;
}

.main a {
    text-decoration: none;
}

.signup-message {
    color: #4889b7;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.signup-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.footer {
    display: inline-flex;
    width: 100%;
    height: 90px;
    background: #4889b7;
    margin-top: 20px;
}

.footer .t2 h2 {
    color: white;
    font-size: 20px;
    margin-left: 30px;
    padding-top: 10px;
}

.footer .t2 p {
    color: white;
    margin-left: 30px;
}

.footer .contact {
    margin-left: 300px;
    padding-top: 10px;
}

.footer .contact p {
    color: white;
}

.replace {
    color: #4889b7;
    text-align: center;
    align-items: center;
    align-content: center;
    text-align-last: center;
}