* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

li,
a {
    text-decoration: none;
    list-style: none;
    color: black;
}

ul li:hover {
    background-color: #95BEDC;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 2rem;
    background-color: #4889b7;
}

.navbar .logoContainer {
    display: block;
    width: 10rem;
    padding: 0.5rem 0;
}

.navbar .logoContainer img {
    width: 100%;
}

.navbar .searchContainer {
    width: 40%;
    position: relative;
}

.navbar .searchContainer input {
    width: 100%;
    height: 3rem;
    padding: 0rem 1rem;
    border-radius: 100rem;
    border: 2px solid gainsboro;
    font-size: 1.25rem;
}

.navbar .searchContainer button {
    height: 1.4rem;
    width: 1.4rem;
    border: none;
    background: url(imgs/searchIcon.svg) no-repeat center center/cover;
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translate(0, -50%);
}

.navbar .userProfileContainer {
    display: flex;
    align-items: center;
    padding-right: 2rem;
    position: relative;
    cursor: pointer;
}

.navbar .userProfileContainer .profileOptions {
    display: none;
    position: absolute;
    top: 140%;
    width: 100%;
    background-color: #7DA4C0E6;
}

.navbar .userProfileContainer .profileOptions ul li {
    padding: 1rem .65rem;
    font-size: 1.25rem;
    transition: background-color ease 500ms;
}

.navbar .userProfileContainer img {
    border-radius: 50%;
    margin-right: .5rem;
    height: 3rem;
}

.aside {
    width: 25%;
    background-color: #99C6E6;
    padding-top: 2.5rem;
    position: absolute;
}

.aside ul li {
    margin-bottom: 0.25rem;
    font-size: 1.3rem;
    /* background-color: white; */
    transition: background-color ease 500ms;
    padding: .75rem 2rem;
}

.activePage {
    position: relative;
}

.aside ul .activePage::before {
    content: '';
    position: absolute;
    left: -13%;
    right: 0;
    height: 100%;
    width: 4.5%;
    background-color: black;
    transform: translate(-50%);
}

.aside ul li a {
    color: black;
}

.aside .contactInfo {
    bottom: 0;
    position: inherit;
    width: 100%;
    padding: 2rem 1rem;
    font-size: 1rem;
}

dl {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: .5rem;
}

dt {
    font-weight: bold;
}

.pageLinks {
    list-style: none;
    padding: 0;
}

.pageLink {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.pageLink i {
    margin-right: 10px;
}

main {
    padding: 20px;
}


/* Module styling */

.module {
    margin-bottom: 30px;
}

.module h2 {
    color: #4889b7;
    font-size: 24px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.module i {
    margin-right: 10px;
}

.module-list {
    list-style-type: none;
    padding: 0;
}

.module-list li {
    margin-bottom: 10px;
}