  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: sans-serif;
  }
  
  body,
  html {
      height: 100%;
      overflow-y: auto;
      /* Enable vertical scrolling */
  }
  
  .navbar {
      background-color: #4889b7;
      color: white;
      padding: 15px;
      text-align: center;
      display: flex;
      justify-content: space-between;
  }
  
  .navbar .logo {
      height: 100px;
      width: 100px;
      margin-left: 40px;
  }
  
  .navbar .logo img {
      height: 80px;
      width: 80px;
      margin-top: 18px;
      border-radius: 50%;
  }
  
  .navbar .title h1 {
      color: white;
      font-size: 28px;
      margin: 20px;
  }
  
  .navbar .title p {
      color: white;
      margin: 20px;
      font-size: 22px;
  }
  
  .navbar .list {
      margin-top: 80px;
      margin-left: 50px;
  }
  
  .navbar .list a {
      background-color: #4889b7;
      color: ;
      text-decoration: none;
      font-size: 5px;
      margin: 10px;
  }
  
  .signup-section {
      text-align: center;
      margin: 1.5% auto;
      /* Center horizontally and apply top margin */
  }
  
  .signup-section h1 {
      color: #4889b7;
      padding: 20px;
  }
  
  .signup-form {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: #f4f4f4;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .signup-form label {
      display: block;
      margin-bottom: 8px;
  }
  
  .signup-form input {
      width: 100%;
      padding: 8px;
      margin-bottom: 12px;
      box-sizing: border-box;
  }
  
  .signup-form select {
      width: 100%;
      padding: 8px;
      margin-bottom: 12px;
      box-sizing: border-box;
  }
  
  .signup-form button {
      background-color: #4889b7;
      color: white;
      padding: 10px;
      border: none;
      cursor: pointer;
  }
  
  .footer {
      display: flex;
      width: 100%;
      height: 90px;
      background: #4889b7;
      margin-top: 20px;
  }
  
  .footer .t2 h2 {
      color: white;
      font-size: 20px;
      margin-left: 30px;
      padding-top: 10px;
  }
  
  .footer .t2 p {
      color: white;
      margin-left: 30px;
  }
  
  .footer .contact {
      margin-left: auto;
      padding-top: 10px;
  }
  
  .footer .contact p {
      color: white;
  }
  
  .replace {
      color: #4889b7;
      text-align: center;
      align-items: center;
      align-content: center;
      text-align-last: center;
  }